---
// src/components/Header.astro
---

<header class="bg-slate-950/80 py-4 border-b border-white/10 backdrop-blur-md fixed w-full top-0 z-50">
    <div class="max-w-6xl mx-auto px-5 flex justify-between items-center">
        
        <div class="flex flex-col text-white">
            <span class="text-xl font-bold underline decoration-2 decoration-cyan-400">Daniel Cabañero Martínez</span>
            <span class="text-sm font-medium text-gray-400">Desarrollador Multimedia | Especialista en IA | Artista Multidisciplinar</span>
        </div>
        
        <nav>
            <ul class="flex gap-6 font-semibold text-gray-300">
                <li><a href="#inicio" class="text-cyan-400 border-b-2 border-cyan-400 pb-1">Inicio</a></li>
                <li><a href="#proyectos" class="hover:text-cyan-400 transition-colors pb-1">Proyectos</a></li>
                <li><a href="#contacto" class="hover:text-cyan-400 transition-colors pb-1">Contacto</a></li>
            </ul>
        </nav>
        
    </div>
</header>